/* Styles start Mamun */

.chat {
  &Start {
    bottom: 0;
    position: fixed;
    right: 0;

    button {
      color: #0e3752;
      font-size: 50px;
      height: auto;

      &:hover {
        color: lighten(#0e3752, 10);
      }
    }
  }

  &Main {
    bottom: 0;
    display: flex;
    height: 100vh;

    &Fullscreen {
      .chatClose {
        top: -32px;

        button {
          font-size: 22px;
          height: 36px;
        }
      }
    }
  }

  &Left {
    background: #fff;
    border-right: 1px solid #e7e9eb;
    height: 100vh;

    &Header {
      background: #fff;
      border-bottom: 1px solid #e7e9eb;
      display: flex;
      color: #4d504f;
      padding: 10px 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &ProPicContainer {
      margin: 0 15px 0 0;
      height: 50px;
    }

    &ProPic {
      border-radius: 50px;
    }

    &Avatar {
      font-size: 250%;
      width: 50px;
    }

    &Title {
      @at-root h4#{&} {
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: #4d504f;
        margin: 0;
      }
    }

    &CreateIcon {
      font-size: 250%;
      width: 50px;
      cursor: pointer;
    }
  }

  &GroupList {
    width: 100%;
  }

  &Status {
    align-items: center;
    display: flex;

    &Dot {
      border-radius: 50%;
      height: 8px;
      margin: 0 6px 0 0;
      width: 8px;

      &Busy {
        background: #c50101;
      }

      &Online {
        background: #01c53f;
      }
    }

    &Text {
      font-size: 12px;

      i {
        margin-left: 5px;
      }
    }
  }

  &Name {
    &List {
      ul {
        li {
          padding: 0;
          position: relative;
          border-bottom: none !important;
          display: block;

          &::before {
            border: 1px solid #60737f;
            border-radius: 50%;
            content: "";
            height: 8px;
            left: 13px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 8px;
          }

          &.newMessage {
            a {
              color: #ffffff;
              font-weight: bold;
            }
          }

          &.active {
            a {
              background: #0b2e45;
            }
          }

          &.online {
            a {
              color: #a9bbc7;
            }

            &::before {
              background: #01c53f;
              border: none;
            }
          }

          a {
            display: block;
            color: #60737f;
            padding: 5px 15px 5px 32px;

            &:hover {
              background: #19415b;
              color: #ffffff;
            }
          }
        }
      }
    }
  }

  &Group {
    &List {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 0;
        border-bottom: none !important;

        &.active {
          a {
            background: #0b2e45;
            text-decoration: none;
          }
        }

        &.newMessage {
          font-weight: bold;

          a {
            color: #fff;
          }
        }
      }
    }
  }

  &Message {
    &Count {
      display: inline-block;
      font-size: 12px;
      font-weight: normal;
      margin: 0;

      &::before {
        background: #c50101;
        border-radius: 50%;
        content: "";
        display: inline-block;
        height: 8px;
        margin: 0;
        width: 8px;
      }
    }
  }

  &WindowActBtns {
    align-self: flex-end;
    background: #5f5f5f;

    button {
      background: #fff;
      align-items: center;
      border-radius: 0;
      margin: 0 0 0 1px;
      padding: 0 6px;
      color: #5f5f5f;
      background: #cccccc;
      height: 24px;
      transition: 0s;
    }
  }

  &Right {
    color: #212529;
    display: flex;
    background: #fff;
    flex-flow: column;
    flex: 1;
    height: 100vh;

    &Header {
      background: #fff;
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 15px 35px 15px 15px;
      border-bottom: 1px solid #e7e9eb;

      &Title {
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: #4d504f;
        align-items: center;
        display: flex;
        font-size: 20px;
        flex: 1;
      }

      &Action {
        align-items: center;
        display: flex;
        list-style: none;
        margin: 0;
        font-size: 20px;
        padding: 0;
        color: #666;

        button {
          margin: 0 0 0 15px;
          color: #666;
          height: 40px;
          width: 40px;
          border: 1px solid #e7e9eb;
          border-radius: 50px;

          &:hover {
            border: 1px solid #e7e9eb;
            border-radius: 50px;
            color: #666;
          }

          &:focus {
            border: 1px solid #e7e9eb;
            border-radius: 50px;
            color: #666;
          }

          &:active {
            border: 1px solid #e7e9eb;
            border-radius: 50px;
            color: #666;
          }
        }
      }
    }

    &Avatar {
      border: 2px solid #979797;
      margin: 0 10px 0 0;
    }
  }

  &Window {
    flex: 1 1 calc(100vh - 148px);
    overflow: auto;
    padding: 20px 0;
  }

  &Message {
    margin: 0 0 10px;
    padding: 0 20px;

    &Header {
      align-items: center;
      color: #4c4c4c;
      display: flex;
      font-size: 16px;
      margin-left: 45px;
    }

    &Name {
      color: #979797;
      display: inline-block;
      font-size: 12px;
    }

    &ProPic {
      border-radius: 50px;
    }

    &Time {
      color: #979797;
      display: inline-block;
      font-size: 12px;
    }

    &Text {
      background: #e7e9eb;
      border-radius: 50px;
      margin: 0 10px;
      padding: 7px 15px;
      position: relative;

      &Panel {
        display: flex;
        padding: 0;
        align-items: center;

        &:hover .chatMessageAction {
          display: block;
        }

        &ImageBlock {
          display: flex;
        }
      }
    }

    &Attachment {
      &PanelImageBlock {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .chatMessageAttachment {
          margin: 0 0 0 15px !important;
        }
      }
    }

    &Image {
      max-width: 80%;
      position: relative;

      &Panel {
        display: flex;

        &:hover .chatMessageAction {
          display: block;
        }
      }
    }

    &Action {
      display: none;
      padding: 7px 0 0;
      position: relative;

      &Items {
        background: #fff;
        border: 1px solid #0b2e45;
        bottom: calc(100% + 10px);
        left: 50%;
        margin: 0;
        padding: 0 15px;
        position: absolute;
        transform: translateX(-50%);

        &::before {
          border: 5px solid transparent;
          border-top: 8px solid #0b2e45;
          content: "";
          left: 50%;
          position: absolute;
          top: 100%;
          transform: translateX(-50%);
        }

        ul {
          display: flex;

          li {
            border-bottom: none !important;
            padding: 0;
          }
        }

        button {
          padding: 0 5px;
          color: #666;
        }
      }
    }

    &Receiver {
      .chatMessageHeader {
        justify-content: flex-end;
      }

      .chatMessageName {
        display: none;
      }

      .chatMessageTime {
        margin: 0 50px 0 0;
        order: -1;
      }

      .chatMessageTextPanel {
        justify-content: flex-end;
      }

      .chatMessageText {
        background: #0084ff;
        color: #fff;
        margin: 0 10px;
        border-radius: 50px;
      }

      .chatMessageTextPanelImageBlock {
        flex-direction: row-reverse;
      }

      .chatMessageAttachmentPanelImageBlock {
        display: flex;
        flex-direction: row-reverse;
      }

      .chatMessageAttachment {
        margin: 0 15px 0 0 !important;
      }

      .chatMessageAction {
        order: -1;
        margin-right: 0;
      }
    }

    &Date {
      background: #efefef;
      height: 1px;
      margin: 30px 0 20px;
      position: relative;

      span {
        background: #fff;
        left: 50%;
        margin: -3px 0 0;
        padding: 0 10px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &Compose {
    display: flex;

    button {
      background: #0084ff;
      border-radius: 0;
      color: #ffffff;
      height: auto;
      padding: 10px 20px;
      text-transform: uppercase;
    }

    &Panel {
      border-top: 1px solid #e7e9eb;
    }

    &Actions {
      align-items: center;
      background: #efefef;
      display: flex;
      justify-content: space-between;
      padding: 5px 20px;

      &Attachments {
        button {
          color: #666;
          font-size: 18px;
          padding: 0 5px;
        }
      }
    }
  }
}

.groupSelect {
  color: #4d504f !important;
  cursor: pointer;
  padding: 20px;

  &:hover {
    background: #e7e9eb;
    color: #4d504f;
    text-decoration: none;
  }
  &Selected {
    background: #e7e9eb;
    text-decoration: none;
  }
}

.chatDateDecoration {
  width: 150px;
  border-radius: 100px/50px;
  background: #062336;
  color: #eeeeee;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.groupList {
  margin-bottom: 0 !important;
  border-bottom: none !important;
}

.groupInfo {
  display: flex;
  justify-content: space-between;

  h3 {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.textArea {
  border: none;
  border-radius: 0;
  flex: 1;
  height: 50px !important;
  margin: 0 !important;
  padding: 5px 20px;
  background: #f8f9fa;
  resize: none;
}

/* Styles start Mamun */

/* some helper classes */
.chBlock {
  display: block;
}
.chTable {
  display: table;
}
.chInline {
  display: inline;
  &Block {
    display: inline-block;
  }
  &Flex {
    display: inline-flex;
  }
}

.initialCreateBlock {
  border: 2px solid #4d504f;
  padding: 50px 100px;
  margin: auto;

  button {
    color: #4d504f;
    cursor: pointer;

    &:hover {
      border-color: #d9d9d9;
      color: #4d504f;
    }

    &:focus {
      border-color: #d9d9d9;
      color: #4d504f;
    }

    &:active {
      border-color: #d9d9d9;
      color: #4d504f;
    }
  }
}
